// FONT //
@font-face {
    font-family: "font-1";
    src: url("/assets/fonts/Merriweather-Regular.ttf");
}

// VARIABLE //
:root {
    --main-color: rgb(170, 241, 55);
    --second-color: #010122;
    --white: rgb(248, 248, 248);
    --black: rgb(32, 32, 32);
    --br: 20px;
    --font-1: "font-1", sans-serif;
  }

// REGLAGE GENERALE //
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

  body {
    background: url(/assets/img/bg.jpg) center/cover fixed;
    font-family: "font-1";
    min-height: 390vh;
    text-align: center;
    width: 80%; 
    margin: 0 auto;
    position: relative;
  }
li{
list-style: none;
}
a,
a:visited{
    color: white;
}
a{
  text-decoration: none;
}
p{
  font-size: 0.8rem;
  line-height: 30px;
}
// Centrer un enfant unique
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Aligner parfaitement des enfants
@mixin flexChildren {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{ 
    text-align: center;
    font-size: 3rem;
    color: var(--white);
   font-family: "font-1", Arial, Helvetica, sans-serif;
}
header{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
  }
  p {
    margin: 40px auto 60px;
    width: 85%;
    font-style: italic;
  }
}



/* *** Nav bar *** */

nav {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15);
    height: 65px;
    ul{
      display: flex;
      align-items: center;
      li{
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        }
      }
      
    }

/* section -1 */

.section-1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 25px;
   img{
    width: 90%;
    margin-top: 70px;
  }
p, h2, .btn{
  margin-top: 32px;
}
}

/* SECTION 2 */

.section-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgb(223, 220, 220);

  img{
    width: 80%;
    margin-top: 20px;
  }
  .item-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid rgb(223, 220, 220);
  }
  .item-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid rgb(223, 220, 220);
  }
}

/* FORMULAIRE */
.container{
  display: flex;
  flex-direction: row;
}